

@model WebApplication.Models.GameInstanceModel

@{
    ViewData["Title"] = "LaunchGameInstance";
}

<h1>LaunchGameInstance</h1>
<hr />


<div class="row">
    <div class="col-md-4">
        <form asp-action="LaunchGameInstance">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Game" class="control-label"></label>
                <input asp-for="Game" class="form-control" />
                <span asp-validation-for="Game" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Args" class="control-label"></label>
                <input asp-for="Args" class="form-control" />
                <span asp-validation-for="Args" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ServerToLaunchOn" class="control-label"></label>
                <input asp-for="ServerToLaunchOn" class="custom-select" />
                <span asp-validation-for="ServerToLaunchOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
